{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}




{% if actions == true %}
    {{ dump(actions) }}

    {# {{ actions.villedepart}}  
    {{ actions.villearrive}}   #}

 {% else %}
    <p>Aucune saisie</p>
{% endif %}

{% endblock %}
{# [0] #}